// $Id$

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$primary: #0001a6;
$dark: #ccc;
$theme-colors: (
 	"primary": #0001a6,
);

// Options
// Spacing

// Body
$body-color: #222;

// Links
$link-hover-decoration: none;

// Components
$component-active-bg: #aaaaaa;

// Fonts
$font-family-sans-serif: "Verdana", "Arial", sans-serif;
$font-size-base: .9rem;
$popover-font-size: $font-size-base * .875;

$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$font-size-h1: floor(($font-size-base * 1.8)); // ~36px
$font-size-h2: floor(($font-size-base * 1.7)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.5)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.3)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px
$headings-font-weight: 700;

// Tables
// Buttons
// Forms
// Dropdowns
// Navs

// Navbar
$navbar-default-border: #aaaaaa;

// Navbarlinks ??
$navbar-dark-color: $primary;

// Pagination
$pagination-active-bg: #aaaaaa;
$pagination-active-border: darken(#aaa, 10%);

// Jumbotron
// Cards
$card-border-color: #999999;

// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close

// Code
$code-color: $body-color;
$code-bg: #eee;

$enable-gradients: true;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //


