// $Id$

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$gray-900: #212529;

$primary: #fd7931;
$secondary: #feb768;
$success: #5cb85c;
$info: #5bc0de;
$warning: #d0d024;
$danger: #d9534f;

$black: $gray-900;

$theme-colors: (
 	"primary":        	#fd7931,
 	"secondary": 		#feb768,
 	"success":         	#5cb85c,
 	"info":           	#5bc0de,
 	"warning":         	#d0d024,
 	"danger":          	#d9534f,
	"light":			#ffffff,
 	"dark":				#000000
);

// Options
// Spacing

// Body
$body-bg: #90140c;

// Links
$link-color: #600000;
$link-hover-color: darken($link-color, 15%);

// Fonts
$font-family-sans-serif: Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-color: #8a0700;

// Tables
// Buttons

// Components
$component-active-color: #ffffff;
$component-active-bg: #fd7c32;

// Forms
// Dropdowns
// Navs
// Navbar

$navbar-light-color:                rgba($black, .5) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
$navbar-light-active-color:         rgba($black, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;

// Tabs
//$nav-tabs-border-color: lighten( $body-bg, 90% );
//$nav-tabs-link-hover-border-color: lighten( $nav-tabs-border-color, 10% );
//$nav-tabs-active-link-hover-bg: darken( $nav-tabs-border-color, 10% );

// Pagination
// Jumbotron
// Cards
// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel

// Close
$close-font-weight: bold;
$close-color: #000000;
$close-text-shadow: 0 1px 0 #ffffff;

// Code
$code-color: #c7254e;
$code-bg: #f9f2f4;

$kbd-color: #ffffff;
$kbd-bg: #333333;

$pre-bg: #f5f5f5;
$pre-color: $gray-900;
$pre-border-color: #cccccc;
$pre-scrollable-max-height: 340px;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
